
ul.thread  {
  padding-bottom: 2em;
  margin: 0px;
  border-top: none;
}

li.topic a {
	font-weight: bold;
}

li.topic {
	list-style-image: url('topic.gif');
	list-style-position: inside;
  list-style-type: none;
  background: none;
  padding: 0px;
  margin: 0px;
}

li.response {
	list-style-image: url('response.gif');
  list-style-type: none;
  background: none;
	list-style-position: inside;
  padding: 0px;
  margin: 0px;
}

ul.indented {
  margin: 0px 0px 0px 25px;
}

span.author a {
	color: black;
  font-weight: bold;
}